.project-grid{
    @apply grid grid-cols-5 gap-5 pt-10;
    grid-auto-rows: minmax(100px, auto);
    /* margin-bottom:200px; */
}

.p-projects{
    @apply grid grid-cols-3;
    grid-auto-rows: minmax(200px, auto);
    gap:15px;
    transition: grid-column .5s ease-in;
}


@keyframes animateGrid{
    0%{
        transform:translateX(200px);
    }
    100%{
        transform: translateX(0); 
    }   
}

@keyframes animateGridRev{
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(250px); 
        grid-column: 1/4;
    } 

}

.prj-0{
    animation: animatePrjCard .3s 1s ease-in forwards;
}

.prj-1{
    animation: animatePrjCard .3s 1.3s ease-in forwards;
}

.prj-2{
    animation: animatePrjCard .3s 1.6s ease-in forwards;
}

.prj-3{
    animation: animatePrjCard .3s 1.9s ease-in forwards;
    
}

.prj-4{
    animation: animatePrjCard .3s 2.2s ease-in forwards;
    
}

.prj-5{
    animation: animatePrjCard .3s 2.5s ease-in forwards;
    
}

@keyframes animatePrjCard{
    0%{
        opacity:0;
        transform: translateX(20px);
    }
    100%{
        opacity:1;
        transform: translateX(0px);
    }
}

.prj-cls-container{
    @apply flex justify-end;
    color:blue;
}

.prj-close-btn{
    @apply mt-10 underline hover:opacity-60;
    transition:all .3s ease-in;
    text-align: right;
}
