.navbar{
    @apply flex justify-between py-8;
}

.logo-container{
    position:absolute;
    top:18px;
}

.logo-container img.jm-logo{
    width:50px;
}

.navbar .tabs ul{
    @apply flex;
}


.navbar .tabs ul li{
    @apply flex mx-5;

}

.navbar .social ul{
    @apply flex;
}

.navbar .social ul li{
    @apply mx-3;
}


.navbar .social .dl-btn{
    @apply mr-0;
}

.navbar .tabs ul li a{
    @apply text-gray-500;
}

.navbar .dl-btn button{
    @apply bg-orange-500 py-1 px-5 text-white rounded-full hover:opacity-70 shadow-sm;
    margin-top:-10px;
    transition: opacity .3s ease;
}

.social ul li{
    position:relative;
}

.social ul li img{
    @apply absolute;  
    transition: opacity .3s ease;
}

.social .fb-logo{
    top:-10px;
    right:40px;
    max-width:40px;
}

.social .li-logo{
    top:-10px;
    right:20px;
    max-width:40px;
}

.social .skype-logo{
    top:-9px;
    right:0px;
    max-width:40px;
}


.social ul li img:hover{
    opacity:.7;
}

.navbar .tabs li.active-link{
    @apply relative;
}

.navbar .tabs ul li.active-link a{
    @apply text-orange-500;
}

.navbar .tabs ul .active-line{
    @apply border-b-2 border-orange-500 absolute h-full w-3/4;
}

.social{
    z-index:10;
}

.jm-logo:hover{
    animation: rotateLogo 1.2s ease;
}

.show-sm{
    display:none;
}



@keyframes rotateLogo{
    0%{
        transform: rotateZ(0deg)
    }
    25%{
        opacity: .5;
    }
    50%{
        opacity: .8;
    }
    75%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        transform: rotateZ(360deg)
    }
}

  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 1090px) {
    .social{
        display:none;
    }
  }


  @media only screen and (max-width: 869px) {
    .tabs{
        display:none;
    }

    .logo-container{
        position:static;
        top:18px;
    }

    .navbar{
        @apply pt-5 px-5;
    }

    .hidden-sm{
        display:none;
    }

    .show-sm{
        display:block;
    }

    .menu{
        font-size:30px;
        @apply text-orange-600;
    }
  }



  
