.footer-container{
    @apply w-full right-0 bottom-0 py-3 absolute;
}

.footer{
    @apply text-gray-600 bottom-2 text-sm;
    font-weight:200;
    display:flex;
    justify-content:flex-end;
    
}


@media only screen and (max-width: 1090px) {
    .footer{
        justify-content:center;
        font-size:14px;
        
    }
    
}


@media only screen and (max-width: 386px){
    .footer{
        text-align:center;
        font-size:12px;
    }
}