.about-0{display:none;fill:#FFFFFF;}
	.about-1{fill:#F88535;}
	.about-2{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:0;}
	.about-3{fill:#FFFFFF;}
	.about-4{fill:#F9A346;}
	.about-5{fill:#756BC9;}
	.about-6{fill:#728DC7;}
	.about-7{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}

    #about-icons{
        height:280px;
    }

	#about-icon-group g.about-i{
		opacity:0;
	}

	.about-i-1{
		animation: aboutIcon1 .5s ease-in forwards;
	}

	.about-i-2{
		animation: aboutIcon1 .5s .5s ease-in forwards;
	}

	.about-i-3{
		animation: aboutIcon2 .5s 1s ease-in forwards;
	}

	.about-i-4{
		animation: aboutIcon3 .5s 1.5s ease-in forwards;
	}

	@keyframes aboutIcon1{
		0%{
			opacity:0;
			transform: translateX(-100px);
		}
		100%{
			opacity:1;
		}
	}

	@keyframes aboutIcon2{
		0%{
			opacity:0;
			transform: translateY(-100px);
		}
		100%{
			opacity:1;
		}
	}

	@keyframes aboutIcon3{
		0%{
			opacity:0;
			transform: translateX(100px);
		}
		100%{
			opacity:1;
		}
	}