.about-0{display:none;fill:#FFFFFF;}
	.about-1{fill:#F88535;}
	.about-2{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:0;}
	.about-3{fill:#FFFFFF;}
	.about-4{fill:#F9A346;}
	.about-5{fill:#756BC9;}
	.about-6{fill:#728DC7;}
	.about-7{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}

    #about-icons{
        height:280px;
    }