.contact-email-0{fill:url(#SVGID_1_);}
.contact-email-1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.contact-email-2{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.contact-email-3{fill:none;stroke:#718CC7;stroke-width:0.25;stroke-miterlimit:10;}
.contact-email-4{fill:#FF7101;}