
.contact-loc-0{fill:url(#SVGID_1_);}
.contact-loc-1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.contact-loc-2{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.contact-loc-3{fill:none;stroke:#718CC7;stroke-width:0.25;stroke-miterlimit:10;}
.contact-loc-4{fill:#FF7101;}

#SVGID_1_ stop:nth-of-type(1){
    stop-color:#FF7101
}

#SVGID_1_ stop:nth-of-type(2){
    stop-color:#eb945b;
}

.contact-logo{
    @apply mb-3;
    max-height:50px;
}