.contact-phone-0{fill:url(#SVGID_1_);}
.contact-phone-1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.contact-phone-2{fill:#FFFFFF;stroke:hsl(0, 0%, 0%);stroke-miterlimit:10;}
.contact-phone-3{fill:none;stroke:#718CC7;stroke-width:0.25;stroke-miterlimit:10;}
.contact-phone-4{fill:#FF7101;}